UpdateBVNtoNIBSS/web/js/CentralPosting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="UBNMiddlewareService_FCUBSService" targetNamespace="http://webservice.outflow.nip.unionbank.com/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.unionbank.com.ng/utilities/Header/v1_0/UBNHeader" xmlns:WL5G3N2="http://webservice.outflow.nip.unionbank.com/" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.outflow.nip.unionbank.com/" xmlns:ubn="http://www.unionbank.com.ng/utilities/Header/v1_0/UBNHeader" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://webservice.outflow.nip.unionbank.com/" schemaLocation="http://osbdev1:8001/CentralOperations/CentralPosting?SCHEMA%2FOperations+IT+And+Services%2FCentral+Operations%2FWSDLs%2FUBNMiddlewareServiceFCUBSService_schema1"/>
      <xsd:import namespace="http://www.unionbank.com.ng/utilities/Header/v1_0/UBNHeader" schemaLocation="http://osbdev1:8001/CentralOperations/CentralPosting?SCHEMA%2FOperations+IT+And+Services%2FInformation+Technology%2FUtilities%2FLogging%2FAudit%2Fv1_0%2FArtifacts%2FUBNHeader"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="UBNHeaderMessage">
    <WL5G3N0:part element="WL5G3N1:UBNHeader" name="UBNHeader"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="nipNameInquiry">
    <WL5G3N0:part element="WL5G3N2:nipNameInquiry" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="nipNameInquiryResponse">
    <WL5G3N0:part element="WL5G3N2:nipNameInquiryResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NipTransactionStatusInquiry">
    <WL5G3N0:part element="WL5G3N2:NipTransactionStatusInquiry" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NipTransactionStatusInquiryResponse">
    <WL5G3N0:part element="WL5G3N2:NipTransactionStatusInquiryResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NipSingleDirectCreditFundsTransfer">
    <WL5G3N0:part element="WL5G3N2:NipSingleDirectCreditFundsTransfer" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NipSingleDirectCreditFundsTransferResponse">
    <WL5G3N0:part element="WL5G3N2:NipSingleDirectCreditFundsTransferResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NipTankedSingleDirectCreditFundsTransfer">
    <WL5G3N0:part element="WL5G3N2:NipTankedSingleDirectCreditFundsTransfer" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="NipTankedSingleDirectCreditFundsTransferResponse">
    <WL5G3N0:part element="WL5G3N2:NipTankedSingleDirectCreditFundsTransferResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="neftTransactionEnquiry">
    <WL5G3N0:part element="WL5G3N2:neftTransactionEnquiry" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="neftTransactionEnquiryResponse">
    <WL5G3N0:part element="WL5G3N2:neftTransactionEnquiryResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="Exception">
    <WL5G3N0:part element="WL5G3N2:Exception" name="fault"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="tankedTransactionsTransfer">
    <WL5G3N0:part element="WL5G3N2:tankedTransactionsTransfer" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="tankedTransactionsTransferResponse">
    <WL5G3N0:part element="WL5G3N2:tankedTransactionsTransferResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="onlineCbaPosting">
    <WL5G3N0:part element="WL5G3N2:onlineCbaPosting" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="onlineCbaPostingResponse">
    <WL5G3N0:part element="WL5G3N2:onlineCbaPostingResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="onlineCbaNcrPosting">
    <WL5G3N0:part element="WL5G3N2:onlineCbaNcrPosting" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="onlineCbaNcrPostingResponse">
    <WL5G3N0:part element="WL5G3N2:onlineCbaNcrPostingResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="onlineMultipleCbaPosting">
    <WL5G3N0:part element="WL5G3N2:onlineMultipleCbaPosting" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="onlineMultipleCbaPostingResponse">
    <WL5G3N0:part element="WL5G3N2:onlineMultipleCbaPostingResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="onlineGefuCbaPosting">
    <WL5G3N0:part element="WL5G3N2:onlineGefuCbaPosting" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="onlineGefuCbaPostingResponse">
    <WL5G3N0:part element="WL5G3N2:onlineGefuCbaPostingResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="isTankedTransactionSuccessful">
    <WL5G3N0:part element="WL5G3N2:isTankedTransactionSuccessful" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="isTankedTransactionSuccessfulResponse">
    <WL5G3N0:part element="WL5G3N2:isTankedTransactionSuccessfulResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="holdFunds">
    <WL5G3N0:part element="WL5G3N2:holdFunds" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="holdFundsResponse">
    <WL5G3N0:part element="WL5G3N2:holdFundsResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="removeFunds">
    <WL5G3N0:part element="WL5G3N2:removeFunds" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="removeFundsResponse">
    <WL5G3N0:part element="WL5G3N2:removeFundsResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="CbaTransactionEnquiryData">
    <WL5G3N0:part element="WL5G3N2:CbaTransactionEnquiryData" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="CbaTransactionEnquiryDataResponse">
    <WL5G3N0:part element="WL5G3N2:CbaTransactionEnquiryDataResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QTsendBillPaymentTransaction">
    <WL5G3N0:part element="WL5G3N2:QTsendBillPaymentTransaction" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="QTsendBillPaymentTransactionResponse">
    <WL5G3N0:part element="WL5G3N2:QTsendBillPaymentTransactionResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="remitaPaymentDetailsLookup">
    <WL5G3N0:part element="WL5G3N2:remitaPaymentDetailsLookup" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="remitaPaymentDetailsLookupResponse">
    <WL5G3N0:part element="WL5G3N2:remitaPaymentDetailsLookupResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="remitaSendPaymentNotification">
    <WL5G3N0:part element="WL5G3N2:remitaSendPaymentNotification" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="remitaSendPaymentNotificationResponse">
    <WL5G3N0:part element="WL5G3N2:remitaSendPaymentNotificationResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="UBNMiddlewareService_FCUBS">
    <WL5G3N0:operation name="nipNameInquiry">
      <WL5G3N0:input message="WL5G3N2:nipNameInquiry"/>
      <WL5G3N0:output message="WL5G3N2:nipNameInquiryResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="NipTransactionStatusInquiry">
      <WL5G3N0:input message="WL5G3N2:NipTransactionStatusInquiry"/>
      <WL5G3N0:output message="WL5G3N2:NipTransactionStatusInquiryResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="NipSingleDirectCreditFundsTransfer">
      <WL5G3N0:input message="WL5G3N2:NipSingleDirectCreditFundsTransfer"/>
      <WL5G3N0:output message="WL5G3N2:NipSingleDirectCreditFundsTransferResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="NipTankedSingleDirectCreditFundsTransfer">
      <WL5G3N0:input message="WL5G3N2:NipTankedSingleDirectCreditFundsTransfer"/>
      <WL5G3N0:output message="WL5G3N2:NipTankedSingleDirectCreditFundsTransferResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="neftTransactionEnquiry">
      <WL5G3N0:input message="WL5G3N2:neftTransactionEnquiry"/>
      <WL5G3N0:output message="WL5G3N2:neftTransactionEnquiryResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="tankedTransactionsTransfer">
      <WL5G3N0:input message="WL5G3N2:tankedTransactionsTransfer"/>
      <WL5G3N0:output message="WL5G3N2:tankedTransactionsTransferResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="onlineCbaPosting">
      <WL5G3N0:input message="WL5G3N2:onlineCbaPosting"/>
      <WL5G3N0:output message="WL5G3N2:onlineCbaPostingResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="onlineCbaNcrPosting">
      <WL5G3N0:input message="WL5G3N2:onlineCbaNcrPosting"/>
      <WL5G3N0:output message="WL5G3N2:onlineCbaNcrPostingResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="onlineMultipleCbaPosting">
      <WL5G3N0:input message="WL5G3N2:onlineMultipleCbaPosting"/>
      <WL5G3N0:output message="WL5G3N2:onlineMultipleCbaPostingResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="onlineGefuCbaPosting">
      <WL5G3N0:input message="WL5G3N2:onlineGefuCbaPosting"/>
      <WL5G3N0:output message="WL5G3N2:onlineGefuCbaPostingResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="isTankedTransactionSuccessful">
      <WL5G3N0:input message="WL5G3N2:isTankedTransactionSuccessful"/>
      <WL5G3N0:output message="WL5G3N2:isTankedTransactionSuccessfulResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="holdFunds">
      <WL5G3N0:input message="WL5G3N2:holdFunds"/>
      <WL5G3N0:output message="WL5G3N2:holdFundsResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="removeFunds">
      <WL5G3N0:input message="WL5G3N2:removeFunds"/>
      <WL5G3N0:output message="WL5G3N2:removeFundsResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="CbaTransactionEnquiryData">
      <WL5G3N0:input message="WL5G3N2:CbaTransactionEnquiryData"/>
      <WL5G3N0:output message="WL5G3N2:CbaTransactionEnquiryDataResponse"/>
      <WL5G3N0:fault message="WL5G3N2:Exception" name="Exception"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="QTsendBillPaymentTransaction">
      <WL5G3N0:input message="WL5G3N2:QTsendBillPaymentTransaction"/>
      <WL5G3N0:output message="WL5G3N2:QTsendBillPaymentTransactionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="remitaPaymentDetailsLookup">
      <WL5G3N0:input message="WL5G3N2:remitaPaymentDetailsLookup"/>
      <WL5G3N0:output message="WL5G3N2:remitaPaymentDetailsLookupResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="remitaSendPaymentNotification">
      <WL5G3N0:input message="WL5G3N2:remitaSendPaymentNotification"/>
      <WL5G3N0:output message="WL5G3N2:remitaSendPaymentNotificationResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="UBNMiddlewareService_FCUBSPortBinding" type="WL5G3N2:UBNMiddlewareService_FCUBS">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="nipNameInquiry">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="NipTransactionStatusInquiry">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="NipSingleDirectCreditFundsTransfer">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="NipTankedSingleDirectCreditFundsTransfer">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="neftTransactionEnquiry">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="tankedTransactionsTransfer">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="onlineCbaPosting">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="onlineCbaNcrPosting">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="onlineMultipleCbaPosting">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="onlineGefuCbaPosting">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="isTankedTransactionSuccessful">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="holdFunds">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="removeFunds">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="CbaTransactionEnquiryData">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="Exception">
        <WL5G3N3:fault name="Exception" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="QTsendBillPaymentTransaction">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="remitaPaymentDetailsLookup">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="remitaSendPaymentNotification">
      <WL5G3N3:operation/>
      <WL5G3N0:input>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:header message="WL5G3N2:UBNHeaderMessage" part="UBNHeader" use="literal"/>
        <WL5G3N3:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="UBNMiddlewareService_FCUBSService">
    <WL5G3N0:port binding="WL5G3N2:UBNMiddlewareService_FCUBSPortBinding" name="UBNMiddlewareService_FCUBSPort">
      <WL5G3N3:address location="http://OSBDEV1:8001/CentralOperations/CentralPosting"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>