UpdateBVNtoNIBSS/web/WEB-INF/wsdl/OSBPROD1_7003/InternalControl/ApplicationSecurity.schema/gmd_departments/internal_control/wsdls/xmlschema_273790657.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://applications.unionbankng.com/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://applications.unionbankng.com/ws">
    <xs:import schemaLocation="http://OSBPROD1:7003/InternalControl/ApplicationSecurity?SCHEMA%2FGMD+Departments%2FInternal+Control%2FWSDLs%2FXMLSchema_-737326593" namespace="http://schemas.datacontract.org/2004/07/UBN.Security.Sms"/>
    <xs:import schemaLocation="http://OSBPROD1:7003/InternalControl/ApplicationSecurity?SCHEMA%2FGMD+Departments%2FInternal+Control%2FWSDLs%2FXMLSchema_-1242885218" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    <xs:import schemaLocation="http://OSBPROD1:7003/InternalControl/ApplicationSecurity?SCHEMA%2FGMD+Departments%2FInternal+Control%2FWSDLs%2Fschemas.datacontract.org_2004_07_UBN.AuthenticationViaAD.Cls" namespace="http://schemas.datacontract.org/2004/07/UBN.AuthenticationViaAD.Cls"/>
    <xs:element name="GetUserRoleEventStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserRoleEventStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetUserRoleEventStatusResult" nillable="true" type="q1:ArrayOfUserRoleEventStatus" xmlns:q1="http://schemas.datacontract.org/2004/07/UBN.Security.Sms"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AdAuthenticate">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AdAuthenticateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AdAuthenticateResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Ad2xAuthenticate">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Ad2xAuthenticateResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Ad2xAuthenticateResult" nillable="true" type="q2:Response" xmlns:q2="http://schemas.datacontract.org/2004/07/UBN.Security.Sms"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TwoXtorAuth">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TwoXtorAuthResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TwoXtorAuthResult" nillable="true" type="q3:Response" xmlns:q3="http://schemas.datacontract.org/2004/07/UBN.Security.Sms"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsUserInRole">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsUserInRoleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="IsUserInRoleResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RoleExist">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RoleExistResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="RoleExistResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetRolesForUser">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetRolesForUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetRolesForUserResult" nillable="true" type="q4:ArrayOfstring" xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUsersInRole">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUsersInRoleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetUsersInRoleResult" nillable="true" type="q5:ArrayOfstring" xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveUserFromRoles">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Role" nillable="true" type="q6:ArrayOfstring" xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoveUserFromRolesResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
<xs:element name="RequestRemoveUserFromRoles">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Role" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="MakerId" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RequestRemoveUserFromRolesResponse">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
    <xs:element name="AddUserToRole">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Maker" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Checker" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddUserToRoleResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AuthorizeUserRole">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Checker" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="IsAuthorized" type="xs:boolean"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AuthorizeUserRoleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="AuthorizeUserRoleResult" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateRole">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateRoleResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeleteRole">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeleteRoleResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserProfile">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserProfileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetUserProfileResult" nillable="true" type="q7:UserProfile" xmlns:q7="http://schemas.datacontract.org/2004/07/UBN.Security.Sms"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsUserExist">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsUserExistResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="IsUserExistResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllRoles">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllRolesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetAllRolesResult" nillable="true" type="q8:ArrayOfstring" xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllUsers">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAllUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetAllUsersResult" nillable="true" type="q9:ArrayOfstring" xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeCustomerUserPassword">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeCustomerUserPasswordResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ChangeCustomerUserPasswordResult" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeCustomerUserStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ChangeCustomerUserStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ChangeCustomerUserStatusResult" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateCustomerUser">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SecurityQuestion" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SecurityAnswer" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateCustomerUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="CreateCustomerUserResult" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CustomAuthentication">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CustomAuthenticationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="CustomAuthenticationResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsCustomerUserExist">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsCustomerUserExistResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="IsCustomerUserExistResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateUserProfile">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="User" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="CustomerProfile" nillable="true" type="q10:CustomProfile" xmlns:q10="http://schemas.datacontract.org/2004/07/UBN.Security.Sms"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateUserProfileResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetModule">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetModuleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetModuleResult" nillable="true" type="q11:Module" xmlns:q11="http://schemas.datacontract.org/2004/07/UBN.AuthenticationViaAD.Cls"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetModules">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetModulesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetModulesResult" nillable="true" type="q12:ArrayOfModule" xmlns:q12="http://schemas.datacontract.org/2004/07/UBN.AuthenticationViaAD.Cls"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetBranchReportLine">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="BranchCode" type="xs:short"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetBranchReportLineResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetBranchReportLineResult" nillable="true" type="q13:BranchReportLine" xmlns:q13="http://schemas.datacontract.org/2004/07/UBN.AuthenticationViaAD.Cls"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddModule">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="n" nillable="true" type="q14:ModuleMin" xmlns:q14="http://schemas.datacontract.org/2004/07/UBN.AuthenticationViaAD.Cls"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddModuleResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateModule">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="n" nillable="true" type="q15:ModuleMin" xmlns:q15="http://schemas.datacontract.org/2004/07/UBN.AuthenticationViaAD.Cls"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UpdateModuleResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsModuleExist">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ModuleId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsModuleExistResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="IsModuleExistResult" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>